:root {
    --main-bg-color: darkblue;
    --main-text-color: white;
    --heading-color: darkblue;
    --img-border-color: black;
    --img-box-shadow: gray;
    --nav-padding: 10px;
    --nav-link-padding: 20px;
    --img-padding: 2px;
    --img-width: 150px;
    --main-max-width: 840px;
}

main {
    max-width: var(--main-max-width);
}

nav {
    background-color: var(--main-bg-color);
    padding: var(--nav-padding);
}

nav a {
    color: var(--main-text-color);
    display: block;
    padding: var(--nav-link-padding);
}

h1 {
    color: var(--heading-color);
}

main img {
    width: var(--img-width);
    height: auto;
    border: 1px solid var(--img-border-color);
    padding: var(--img-padding);
    box-shadow: 0 0 30px var(--img-box-shadow);
}

p {
    padding: 0;
}